{% extends 'base.html' %}

{% block contenu %}

<div class="container-fluid">
    <div class="container">
        <div class="card-body">
            <h1 class="card-title text-center p-4 mb-4 mt-2 text-warning">L'Intelligence Artificielle pour tous</h1>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body p-4">
                        <h2 class="card-title text-info fw-bolder text-center mb-5 mt-2">L’Intelligence Artificielle : La Technologie Qui Fait Des
                            Miracles</h2>
                        <p class="card-text">
                            Salut à toi, cher lecteur ! Tu es sur le point de découvrir un monde fascinant où les
                            machines peuvent penser, apprendre et même rêver ! Bienvenue dans le monde de l’Intelligence
                            Artificielle (IA) !<br><br>

                            L’IA est une technologie qui permet aux ordinateurs de simuler l’intelligence humaine. Elle
                            est capable de traiter des données complexes, de prendre des décisions et même de résoudre
                            des problèmes. Elle est utilisée dans de nombreux domaines, tels que la médecine, la
                            finance, la sécurité, la production, la logistique, etc. Elle est également utilisée dans
                            les applications grand public, telles que les assistants virtuels, les jeux vidéo, les
                            réseaux sociaux, les moteurs de recherche, etc.<br><br>

                            Mais l’IA ne se limite pas à cela. Elle est également capable de créer des œuvres d’art, de
                            composer de la musique, d’écrire des poèmes, de concevoir des jeux vidéo, et même de
                            cuisiner des plats délicieux ! Elle peut également aider les scientifiques à résoudre des
                            problèmes complexes, tels que la recherche de nouvelles planètes, la découverte de nouveaux
                            médicaments, et même la lutte contre le changement climatique.<br><br>

                            Cependant, l’IA soulève également des questions éthiques et sociales importantes, telles que
                            la protection de la vie privée, la sécurité, la responsabilité, la transparence, la
                            discrimination, etc. Il est donc important de comprendre les avantages et les limites de
                            l’IA, ainsi que les implications éthiques et sociales de son utilisation.<br><br>

                            En somme, l’IA est une technologie incroyablement puissante qui peut changer le monde pour
                            le meilleur. Alors, qu’attendez-vous ? Rejoignez-nous dans le monde de l’IA et découvrez les
                            merveilles qu’elle peut accomplir !<br>
                        </p>
                        <div class="d-flex justify-content-center w-100">
                            <button type="button" class="btn btn-primary" style="width: 400px;">
                                <a class="text-decoration-none text-body-secondary fw-bolder" href="">Accéder au Blog</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contenu %}